.data-container {
    width: 100%;
    height: 100%;
}

.title-name-data {
    text-align: center;
    margin-top: 10px;
    color: #3498db;
}

.filter-controller {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
}

.option-filter {
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
}

.btn-filter {
    border: none;
    border-radius: 3px;
    background: linear-gradient(135deg, #3498db, #9b59b6);
    color: white;
    transition: transform 0.3s ease-in-out;
}

.btn-filter:hover {
    transform: scale(1.07);
}

.filter-input {
    position: relative;
    border-radius: 3px;
    transition: border 0.3s ease;
    border: 2px solid #74b9ff;
    outline: none;
}



.table-container {
    background: linear-gradient(135deg, #37cae1, #c992df);
    height: 370px;
    color: aliceblue;
    border-radius: 5px;
    width: 99%;
    margin: 0 auto;
}

.table-container table {
    text-align: center;
    color: aliceblue;
    border-radius: 5px;
}

.page-controller {
    background-color: #37cae1;
}

.page-container {
    float: right;
    margin-right: 10px;
    border-radius: 3px;
    margin-top: 10px;
}

.btn-page {
    border: 1px solid #ecf0f1;
    background-color: #37cae1;
    color: whitesmoke;
    transition: transform 0.3s ease-in-out;
}

.btn-page:hover {
    transform: scale(1.05);
    border-radius: 2px;
}

.active-page {
    border: 1px solid #ecf0f1;
    background-color: #c992df;
    color: whitesmoke;
}

@media only screen and (max-width: 740px) {

    .table-container {
        overflow-y: auto;
    }
}