.graph-ctn {
    width: 99%;
    height: 94%;
    background-color: rgb(240, 248, 255, 0.9);
    border-radius: 10px;
}

@media only screen and (max-width: 740px) {

    .graph-ctn {
        width: 100%;
        margin-right: 20px;
    }
}