.profile-container {
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.profile-container img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.img-inf-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.img-inf-user h3 {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #3498db;
}

.element-inf-user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;

}

.inf1 {
    flex: 1;
    background-color: brown;
    margin-right: 10px;
    height: 30vh;
    border-radius: 5px;
    background: linear-gradient(135deg, #34a3ec, #874be7);
}

.inf1 h3 {
    text-align: center;
    margin: 0;
    margin-top: 10px;
    color: aliceblue;
}

.inf1 p {
    margin-left: 5px;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bar {
    background-color: #34a3ec;
    position: absolute;
    left: 0;
    margin-top: 5px;
    margin-left: 15px;
    display: none;
    color: aliceblue;
    border-radius: 5px;
    padding: 3px;
}

@media only screen and (max-width: 740px) {
    .bar {
        display: block;
    }

    .element-inf-user {
        display: flex;
        flex-direction: column;

    }

    .inf1 {
        margin-bottom: 10px;
        width: 70vw;
    }
}